.item-container {
  width: calc((100% - 4em) / 3);
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2em;
  }
}

.item-title {
  padding: 0 2em;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: end;
  line-height: 0;

  h1 {
    font-size: minmax(fit-content, auto);
  }
}

.item-counter {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  line-height: 0;

  * {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    border: 0;
    border-radius: 50%;
    color: var(--background-color);
    background-color: var(--text-color);
    filter: drop-shadow(var(--drop-shadow-mouseover) 0.33em 0.33em 0);
    transition: all 0.15s ease;

    &:hover {
      cursor: pointer;
      filter: drop-shadow(var(--drop-shadow-mouseover) 0.22em 0.22em 0);
    }

    &:active {
      cursor: pointer;
      filter: drop-shadow(var(--drop-shadow-mouseover) 0.11em 0.11em 0);
    }

    &:disabled {
      pointer-events: none;
      cursor: default;
      opacity: 50%;
    }
  }
}

@media screen and (max-width: 768px) {
  .item-container {
    width: calc(50% - 0.5em);
  }
}

@media screen and (max-width: 480px) {
  .item-container {
    width: 100%;

    img {
      border-radius: 1em;
    }
  }
  .item-title {
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }

  .item-title {
    gap: 1em;

    h1 {
      font-size: 7.5vw;
    }

    h3 {
      font-size: 6vw;
    }
  }

  .item-counter {
    gap: 0.125em;
  }
}
