:root {
  --background-color: #f4f3ef;
  --text-color: #121212;
  --background-color-btn: #f4f3ef60;
  --drop-shadow-default: #12121224;
  --drop-shadow-mouseover: #12121236;
}

[data-theme="dark"] {
  --background-color: #2a2c34;
  --text-color: #f4f3ef;
  --background-color-btn: #12121248;
  --drop-shadow-default: #12121248;
  --drop-shadow-mouseover: #12121272;
}

html,
body {
  margin: 0;
  padding: 0.5em;
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-color);
  color: var(--text-color);
}

.content-grid {
  min-height: calc(100vh - 2em);
  --padding-inline: 1rem;
  --content-max-width: 1080px;
  --breakout-max-width: 1440px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];

  grid-template-rows: 13.25em 2em auto 2em 6em;
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

header {
  grid-row: 1/2;
}

main {
  grid-row: 3/4;
}

footer {
  grid-row: 5/6;
}

@media screen and (max-width: 960px) {
  .big-screen-only {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    padding: 0.25em;
  }

  .content-grid {
    min-height: calc(100vh - 1em);
    grid-template-rows: 13.25em 1em auto 1em 4.5em;
  }
}

@media screen and (max-width: 480px) {
  .content-grid {
    grid-template-columns: [full-width];
    grid-template-rows: 10.5em 1em auto 1em 3em;
  }
}
